@use "../utilities" as *;

.error-page {
  text-align: center;
  padding-top: 1rem;

  h1 {
    color: $pri;
  }

  .error-text {
    margin-bottom: 3rem;
  }

  .error-retry-button {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  // 640px
  @include mq($small-mq) {
    padding-top: 1.5rem;

    .error-retry-button,
    .error-text {
      margin-bottom: 4.5rem;
    }
  }

  // 768px
  @include mq($medium-mq) {
    padding-top: 0;
    .error-retry-button,
    .error-text {
      margin-bottom: 8rem;
    }
  }
  // 1280px
  @include mq($large-mq) {
    .error-retry-button,
    .error-text {
      margin-bottom: 14rem;
    }
  }
}
