@use "../utilities" as *;

.movie-page * {
  margin: 0;
  padding: 0;
}

.movie-page {
  .banner-img img {
    object-position: 0 10%;
  }
}

.movie-page-main {
  margin: 0 1rem;
}

.release-date-and-duration {
  display: flex;
  font-size: 1.5rem;
}

.rating-and-favourite {
  display: flex;
  justify-content: space-between;
}

.rating-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  border: 4px solid white;
  border-radius: 50%;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
}

.movie-page h1,
.movie-page h2 {
  margin-bottom: 0.4rem;
  color: $pri;
}

.movie-page h2 {
  margin-top: 2rem;
}

.movie-page div {
  margin-bottom: 0.6rem;
}

.movie-page p {
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

.cast-list div {
  display: flex;
}

.cast-list {
  display: flex;
  overflow: hidden;
  column-gap: 1rem;
}

.cast-list img {
  object-fit: cover;
  border-top-right-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
  width: 100%;
  height: 10rem;
}

.cast-card {
  display: flex;
  flex-direction: column;
  min-width: 7.5rem;
  max-width: 7.5rem;
}

.cast-text {
  display: flex;
  flex-direction: column;
  background-color: $dark;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.cast-text h3 {
  margin-top: 1rem;
}

.single-page-poster {
  display: none;
}

.genre-list p {
  text-transform: uppercase;
  font-size: 1rem;
}

.overview {
  font-size: 1rem;
}

// 768px
@include mq($medium-mq) {
  .movie-page {
    position: relative;
    .poster-carrier {
      position: absolute;
      position: relative;
    }

    .poster-gradient {
      background-image: radial-gradient(
        circle,
        rgba(0, 0, 0, 0) 53%,
        rgba(0, 0, 0, 0.3701855742296919) 70%,
        rgba(0, 0, 0, 0.6979166666666667) 87%,
        rgba(0, 0, 0, 0.8407738095238095) 100%
      );
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      margin-bottom: 0;
    }

    .poster-container {
      flex-shrink: 0;
      flex-basis: 25%;
    }

    .single-page-poster {
      display: block;
    }

    .single-movie-info {
      display: flex;
      margin: 0 auto;
    }

    .single-movie-text {
      margin-left: 1rem;
    }

    .rating-and-favourite {
      gap: 2rem;
      margin-bottom: 0;
      margin-left: 1rem;
    }

    .movie-title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .movie-title {
      margin-bottom: 0;
    }
  }
}

// 1024px
@include mq($big-mq) {
  .movie-page {
    .movie-page-main {
      margin: 1rem 5rem 1rem 5rem;
      .trailer {
        margin-top: 0;
      }
    }

    .poster-carrier {
      top: -4rem;
    }

    .single-movie-text {
      margin-left: 2rem;
    }
  }
}

// 1600px
@include mq(1600px) {
  .movie-page {
    .movie-page-main {
      margin: 1.5rem 12rem 2rem 12rem;
      h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.6rem;
      }

      p {
        font-size: 1.5rem;
      }

      .genre-list p {
        font-size: 1.4rem;
      }

      .rating-bar p {
        font-size: 1.2rem;
      }

      .cast-card {
        max-width: 9.5rem;
        margin-right: 0.7rem;
      }
    }
    .poster-carrier {
      top: -5rem;
    }

    .single-movie-text {
      margin-left: 3rem;

      .movie-title {
        font-size: 3rem;
      }
    }
  }
}

// 1800px
@include mq(1800px) {
  .movie-page {
    .banner-img img,
    .banner-gradient {
      height: 20rem;
    }

    .movie-page-main {
      margin: 1.8rem 17rem 3rem 17rem;
      h2 {
        font-size: 2.6rem;
        margin-bottom: 1.3rem;
      }
    }
    .poster-carrier {
      top: -5.5rem;
    }

    .single-movie-text {
      margin-left: 3.5rem;

      .movie-title {
        font-size: 3.5rem;
      }
    }
  }
}
