// *This file is modified from:
//  * Carousel.sass
//  * @author: Dang Van Thanh
//  * @email: dangvanthanh@dangthanh.org
//  * @description: A Simple Carousel Pure CSS Using Sass
//  * @version: 0.1.0
//  * MIT License: https://github.com/dangvanthanh/carousel.sass/blob/master/LICENSE
//  * Link to the source: https://github.com/dangvanthanh/carousel.sass?tab=readme-ov-file

@use "../utilities" as *;

// @include carousel(3);

// // height: 38em;
// // margin: 0 auto;

// .carousel-label {
//   margin-left: 1.5px;
//   margin-right: 1.5px;
// }

// .carousel {
//   %animation-default {
//     opacity: 1 !important;
//     z-index: 3;
//   }
// }

.carousel {
  .carousel-slide {
    position: relative;
  }

  .carousel-text {
    position: absolute;
    top: 13rem;
    left: 15rem;
    right: auto;
  }
  .carousel-slider {
    .control-arrow {
      padding: 45px;
      opacity: 0.5;
    }
  }
}
