@use "../utilities" as *;

.carousel {
  .carousel-slide {
    position: relative;

    .carousel-gradient {
      width: 100vw;
      height: 550px;
      background-image: linear-gradient(to right, #000000, transparent);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    .carousel-img {
      height: 550px;
      object-fit: cover;
      object-position: 0 25%;
    }

    .carousel-text {
      position: absolute;
      top: 4rem;
      left: 5rem;
      right: auto;
      width: 20rem;
      text-align: left;
      z-index: 200;
    }
  }

  .carousel-slider {
    .control-arrow {
      padding: 52px;
      opacity: 0.5;
      width: 10rem;
    }
  }
}
