@use '../utilities' as *;

// site logo
.site-logo {
  fill: $pri;
  line-height: 0;
  padding: 0.875rem;
}

.site-logo:hover{
    color: $pri-li;
    fill: $pri-li;
  }

// favourites
.favorite {
    color: $light;
  }
  
  .favorite.favorited {
    color: $pri;
  }

// rating