@use '../utilities' as *;

svg path {
  stroke-linecap: round;
  stroke-linejoin: round;
}

// site logo
.site-logo {
  fill: $pri;
  line-height: 0;
  padding: 0.875rem;
}

.site-logo:hover{
  color: $pri-li;
  fill: $pri-li;
}


// menu button
.menu-toggle {
  display: inline-block;
  background-color: transparent;
  border: 0;
}

// .menu-toggle:focus {
//   border: 0;
//   outline: 0.125rem solid $pri;
// }

.menu-toggle svg path {
  stroke: $light;
  stroke-width: 0.25rem;
  transform-origin: right center;
  transition: opacity $animation-timing, width $animation-timing, rotate $animation-timing, translate $animation-timing;
}


// favourites
button.favorite {
  fill: $sec;
  stroke: $light;
  stroke-width: 0.125rem;
  background-color: transparent;
  padding: 0;
  height: 3rem;
  width: 3rem;
}

button:hover .favorite {
  stroke: $pri-li;
}

button.favorite.favorited {
  fill: $pri;
  stroke: $pri;
}


// dropdown menu arrow
button.currentCategory svg path {
  fill: transparent;
  stroke: $light;
  stroke-width: 0.25rem;
  // transform-origin: center center;
  // transition: rotate $animation-timing, translate $animation-timing;
}


// search
.search svg path {
  fill: transparent;
  stroke: $light;
  stroke-width: 0.25rem;
  // transition: opacity $animation-timing, width $animation-timing, rotate $animation-timing, translate $animation-timing;
}
.search button {
  background-color: transparent;
}

.search button svg {
  height: 2rem;
  width: 2rem;
}

button.search {
  padding: 0;
  // height: 4rem;
  // width: 4rem;
}

button:hover .favorite {
  stroke: $pri-li;
}

button.favorite.favorited {
  fill: $pri;
  stroke: $pri;
}