@use "../utilities" as *;

.movie-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  height: max-content;
  width: 11.5625rem;
  margin: 0.625rem;
}

.movie-card img {
  grid-row: 1 / span 3;
  grid-column: 1;
  z-index: -1;
  width: 100%;
  border-radius: 10px;
  opacity: 1;
  background-color: $dark;
  transition: all 0.2s ease;
}

.movie-card .movie-info {
  opacity: 0;
  grid-row: 1;
  grid-column: 1;
  padding: 1rem;
}

.movie-card p,
.movie-card h3{
  margin: 0;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-info p {
  font-size: 1rem;
  line-height: 1.25;
}

.movie-card .title-and-release {
  .title {
    font-size: 1.125rem;
  }
  .release-date {
    font-size: 0.875rem;
    text-transform: uppercase;
  }
}

.card-icons {
  display: flex;
  justify-content: space-between;
}

.movie-card button.favourite {
  grid-row: 3;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}


.movie-card:hover {
  img {
    opacity: 0.2;
  }
  .movie-info,
  .title-and-release,
  .vote-average,
  button.favorite {
    opacity: 1;
  }
}