@use "../utilities" as *;

.search label {
  display: none;
}

.search form {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}

.search input {
  color: $light;
  background-color: $dark;
  height: 2.875rem;
  width: 3rem;
  border: 0.125rem solid $light;
  border-radius: 2rem;
  padding: 0.125rem 1rem;
  transition: all 0.35s ease-in-out;
  opacity: 1;
  min-width: 10rem;
}

.search input:focus {
  outline: 0.125rem solid $pri;
  outline-offset: -0.1875rem;
}

.search button {
  position: absolute;
}

.search svg path:hover {
  stroke: $pri;
}

// .search.toggled input {
//   min-width: 10rem;
//   opacity: 1;
// }

//768px
@include mq($medium-mq) {
  .search input {
    width: 12rem;
    // opacity: 1;
  }
}
