@use "../utilities" as *;

footer {
  background-color: $sec;
  color: $light;

  p {
    margin: 0;
  }

  .footer-wrapper {
    padding: 1rem;
  }

  .footer-nav a {
    display: inline-block;
    color: $light;
    text-decoration: none;
    text-transform: uppercase;
  }

  .footer-nav a:hover,
  .footer-nav a:focus,
  .footer-nav a:active {
    background-color: $pri;
  }
    
  .footer-nav a:focus {
    outline: 0.125rem solid $pri;
  }

  .footer-nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 1.5rem 0;
  }

  .footer-nav-link {
    margin: 0.4rem 0;
  }

  .footer-logo-group {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $light;
    text-decoration: none;
    padding: 0;
  }

  .footer-logo-group:hover {
    color: $pri-li;
    fill: $pri-li;
  }

  .copyright p {
    font-size: 1rem;
  }

  // 768px
  @include mq($medium-mq) {
    .footer-1st-part {
      display: flex;
      gap: 4rem;
      justify-content: center;
      align-items: center;
    }
    .copyright p {
      text-align: center;
    }
  }

  // 1024px
  @include mq($big-mq) {
    .footer-logo-group h3 {
      font-size: 1.5rem;
    }
  }

  // 1280px
  @include mq($large-mq) {
    .footer-nav-link {
      margin: 0.7rem 0;
    }

    .footer-wrapper {
      padding: 1.5rem 0;
    }

    .copyright {
      margin: 1rem 0;
    }
  }
}
