@use "../utilities" as *;

footer {
  background-color: $sec;
  color: $light;

    p {
        margin: 0;
    }

  .footer-nav a {
    color: $light;
    text-decoration: none;
    text-transform: uppercase;
  }

  .footer-nav {
    list-style-type: none;
    padding-left: 0;
  }

  .footer-logo-group {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .footer-logo-group:hover{
    color: $pri-li;
    fill: $pri-li;
  }

  // 768px
  @include mq( $medium-mq ) {
    .footer-1st-part {
      display: flex;
      gap: 4rem;
      justify-content: center;
      align-items: center;
    }
    .copyright p {
      text-align: center;
    }
  }
}
