// VARIABLES
@use "sass:math";
@use "functions" as *;

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


// Colors
$pri: #f20039;
$pri-li: #fb4a74;

$sec: #232945; // for header, footer, categories bg

$light: #ffffff;

$dark: #060b1d;


// Fonts
$body-font: "Nunito", Arial, Helvetica, Verdana, sans-serif;
$heading-font: "Baloo 2", Arial, Helvetica, Verdana, sans-serif;

// Font Weights
// $regular: 400;
// $medium: 500;
// $bold: 700;

// Typographic Defaults
$line-height: 1.5;

// Media Query Breakpoints
$tiny-mq: em(320);
$small-mq: em(640);
$medium-mq: em(768);
$big-mq: em(1024);
$large-mq: em(1280);
$huge-mq: em(1920);

// Utility Selectors
$link-hover-selector: "&:hover, &:focus, &:active";
