@use '../utilities' as *;

html {
    scroll-behavior: smooth;
}

body {
    background-color: $dark;
    color: $light;
}

:target:before {
    content: "";
    display: block;
    height: 2rem;
    margin: -2rem 0 0;
}

// links
a,
a:visited {
    color: $pri;
    font-weight: 600;
}

a:hover,
a:focus {
    color: $pri-li;
}

a:focus {
    outline: 2px solid $pri-li;
}

a:active {
    color: $light;
    background-color: $pri;
}